{% extends 'base.html' %}
{% load static %}

{% block Title %}
    Login
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'myauth/css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="login-box" id="login-box">
        <h1>Login</h1>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form1.username }}
            {{ form1.password }}
            <div class="options">
                <div>
                     <input type="checkbox">
                    <span class="text">Remember me</span>
                </div>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" name="action" value="login">Login</button>
            {% if error %}
                <div style="color: #ffd700; font-size: 20px">
                    {{ error }}
                </div>
            {% endif %}
            <a href="#" class="register">
                <p class="parag">Don't have an account? Register</p>
            </a>
        </form>
    </div>

    {# REGISTER #}
    <div class="register-box" id="register-box">
        <h1>Register</h1>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form2.username }}
            {{ form2.email }}
            {{ form2.password }}
            <button type="submit" name="action" value="register">Register</button>
            {% if error %}
                <div style="color: #ffd700; font-size: 20px">
                    {{ error }}
                </div>
            {% endif %}
            <a href="#" class="register">
                <p class="parag">Have an account? Login</p>
            </a>
        </form>
    </div>
 <script src="{% static 'myauth/js/script.js' %}"></script>
{% endblock %}