.profile-conteiner{
    margin-top: 10px;
    background-color: rgba(25, 25, 25, 0.99);

}

.profile-conteiner .profile-header-container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
}
.profile-header-container img{
    margin: 28px 0  0 20px;
}
.profile-header-container h1{
    font-size: 64px;
    width: 700px;
    text-align: center;
}
.profile-conteiner .username-text{
    margin-left: 28px;
    width: 200px;
    text-align: center;
    font-size: 20px;
}
.profile-conteiner .edit-button{
    width: 100px;
    margin-left: 80px;
    text-align: center;
    font-size: 20px;
    background-color: #FED42B;
    border-radius: 5px;
    color: black;
}
.edit-button a:visited {
    color: black;
    text-decoration: none;
}
a:link {
  color: black;
  text-decoration: none;
}


.liked-track-container{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.tracks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.track-card {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}
.mar {
    margin: 0;
}
a:visited {
  color: White;
  text-decoration: none;
}
a:link {
  color: White;
  text-decoration: none;
}