{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/main/css/style-main-page.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/css/style-main-page.css' %}">
</head>
<body>
    <header>
        <nav class="nav_cont">
            <img src="{% static 'main/img/img.png' %}" alt="YandexMusic" class="img_logo">
            <p class="title">My Yandex Music Stat</p>
            <div><a href="{% url "auth-page" %}">Sing up</a></div>
        </nav>
    </header>
    <div class="div_content">
        <form method="post">
            {% csrf_token %}
            <p class="p-token">
                <input type="text" name="token" id="token" class="input-token" placeholder="Введите ТОКЕН" >
            </p>
            <p class="p-token">
                <button type="submit" class="input-button">Send</button>
            </p>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        </form>
    </div>

    <div class="tracks">Your last liked tracks</div>
    <div class="tracks-container">
        {% for i in liked_track_list %}
            <a href="{{ i.liked_url }}" target="_blank">
                <div class="track-card">
                    <img src="{{ i.liked_image }}">
                    <p class="mar">{{ i.liked_title }}</p>
                    <p class="mar">{{ i.liked_artist }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="tracks">Top 5 tracks in chart</div>
    <div class="tracks-container">
        {% for i in chart_track_list %}
            <a href="{{ i.chart_url }}" target="_blank">
                <div class="track-card">
                    <img src="{{ i.chart_image }}">
                    <p class="mar">{{ i.chart_title }}</p>
                    <p class="mar">{{ i.chart_artist }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>