{% extends 'base.html' %}
{% load static %}

{% block Title %}
    Main page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/style-main-page.css' %}">
{% endblock %}

{% block content %}

    <div class="tracks">Top 5 tracks in chart</div>
    <div class="tracks-container">
        {% for i in chart_track_list %}
            <a href="{{ i.chart_url }}" target="_blank">
                <div class="track-card">
                    <img src="{{ i.chart_image }}">
                    <p class="mar">{{ i.chart_title }}</p>
                    <p class="mar">{{ i.chart_artist }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}